<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"i>
<title>HydraI</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
<script src="https://unpkg.com/hydra-synth"></script>
</head>
<body>
  <div id="left-section">
    <div id="title-section">
      <a id="title-link" href='/'><h1 id="title">HydraI</h1></a>
    </div>
    <div id="section1">
      <form id="ai-form" class="form" method="post">
        {% csrf_token %}
        <textarea name="text_input" class="textarea-box" placeholder="Ask the AI for the code..."></textarea>
        <button type="submit" style="display: none"></button>
      </form>
    </div>
    <div id="section2">
      <button id="ai-button" class="run-button" type="button" >Click to ask the AI</button>
      <!-- <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/down--v1.png" alt="down--v1"/> -->
      <img id="arrow-gif" src="static/images/down-arrow.png" alt="Down arrow image">
      <button id="randomize-button" class="run-button" type="button" >Click for random effect</button>
    </div>
    <div id="section3">
      <textarea id="code-textarea" class="textarea-box" placeholder="Code..."></textarea>
    </div>
  </div> 
  
  <div id="right-section">
    <h1 class="padding">~ > HydraI es un proyecto basado en Hydra, un sintetizador de video que funciona sobre el navegador. Implementamos la IA para crear los visuales.</h1>
    <h1 class="padding">~ > Describa detalladamente el visual que desea crear en el espacio de arriba y luego clickee el primer boton. Para ejemplos prediseñados clickee el segundo.</h1>
    <h1 class="padding">~ > Creado por Luciano Cadile y Pablo Gutierrez.</h1>
    <h1 class="padding">~ > Inspirado en Hydra por Olivia Jack.</h1>
  </div>
<script type='module' src='static/js/hydra.js' ></script>
<script type='module' src='static/js/load_preset.js' ></script>
<script type='module' src="static/js/rungif.js"></script>
<script type='module' src="static/js/main.js"></script>
</body>
</html>
