<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"i>
  <title>HydraI</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}">
  <script src="https://unpkg.com/hydra-synth"></script>
</head>
<body>
  <div id="left-section">
    <div id="title-section">
      <a id="title-link" href='/'><h1 id="title">HydraI</h1></a>
    </div>
    <form id="ai-form" method="post">
      <div id="section1">
          {% csrf_token %}
          <textarea name="text_input" class="textarea-box" placeholder="Ask the AI for the code..."></textarea>
      </div>
      <div id="section2">
        <button id="ai-button" class="run-button" type="submit" >Click to ask the AI</button>
        <!-- <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/down--v1.png" alt="down--v1"/> -->
        <img id="arrow-gif" src="{% static 'images/down-arrow.png' %}" alt="Down arrow image">
        <button id="randomize-button" class="run-button" type="button">Click for random effect</button>
      </div>
    </form>
    <div id="section3">
      <textarea id="code-textarea" class="textarea-box" placeholder="Code..."></textarea>
    </div>
  </div> 
  <div id="right-section">
    <div id="help-instructions">
      <h1>~ > HydraI is a web project based on the video synthetizer Hydra, implementing AI into the mix to make it easier for people without previous coding knowledge.</h1>
      <h1>~ > So just go ahead and ask the AI whatever you want to see, more complex promts produce better results, the AI will print it out after hitting the "Click to ask the AI".</h1>
      <h1>~ > But if you dont want to mess with the AI, you can always use the "Click for random effect" button to get a random visual from a hand picked list.</h1>
    </div>
    <div id="help-credits">
      <h1>~ > Made by <a class="link-green" href="https://github.com/asdyy8">Luciano Cadile</a> & <a class="link-green" href="https://github.com/maipley">Pablo Gutierrez</a>.</h1>
      <h1>~ > Inspired on <a class="link-green" href="https://hydra.ojack.xyz">Hydra by Olivia Jack</a>.</h1>
    </div>
  </div>
<script type='module' src="{% static 'js/hydra.js' %}"></script>
<script type='module' src="{% static 'js/load_preset.js' %}"></script>
<script type='module' src="{% static 'js/rungif.js' %}"></script>
<script type='module' src="{% static 'js/main.js' %}"></script>
<script type='module'>
  import { loadHydraScript } from "{% static 'js/hydra.js' %}"
  import { runGif } from "{% static 'js/rungif.js' %}" 
  document.getElementById("ai-form").addEventListener('submit', function (event) {
    event.preventDefault();
    let i = 0;
    function iterate() {
      if (i < 30) {
        i++;
        let data = { response: "{{ response|safe }}" }
        let response = data.response
        console.log(response)
        if (response !== '101' && response !== '202') {
          runGif();
          console.log(response);
          loadHydraScript(response);
          return;
        }
        if (i == 30) {
          alert("You need to input something!\nBonk!!!");
          return;
        }
        setTimeout(iterate, 20);
      }
    }
    iterate();
  });
</script>
</body>
</html>
